.task {
  display: flex;
  max-width: 40rem;
  margin: 2rem auto;
  border: 1px solid rgba($color-primary, 0.4);
  padding: 3rem 0;

  &__description {
    flex-basis: 80%;
    padding: 0 .5rem;
  }

  &__done {
    text-decoration: line-through;
  }
}