.task-input {
  width: 30rem;
  padding: 0.5rem;
  border: 1px solid rgba($color-primary, 0.4);

  @include respond(phone) {
    width: auto;
  }

  &:focus {
    outline: 1px solid rgba($color-primary, 0.4);
  }

  &::placeholder {
    color: rgba($color-black, 0.8);
  }
}
